<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sWidgetName</key>
	<string>Операционный доход</string>
	<key>sMeasureName</key>
	<string>тыс. ₽</string>
	<key>series</key>
	<array>
		<dict>
			<key>nID</key>
			<integer>1</integer>
			<key>sName</key>
			<string>ЧПД</string>
			<key>color</key>
			<dict>
				<key>r</key>
				<real>15</real>
				<key>g</key>
				<real>83</real>
				<key>b</key>
				<real>157</real>
			</dict>
		</dict>
		<dict>
			<key>nID</key>
			<integer>2</integer>
			<key>sName</key>
			<string>ЧКД</string>
			<key>color</key>
			<dict>
				<key>r</key>
				<real>98</real>
				<key>g</key>
				<real>175</real>
				<key>b</key>
				<real>212</real>
			</dict>
		</dict>
	</array>
	<key>periods</key>
	<array>
		<dict>
			<key>sName</key>
			<integer>2015</integer>
			<key>fBarTotalValue</key>
			<real>194.5</real>
			<key>vals</key>
			<array>
				<dict>
					<key>nSeriesID</key>
					<integer>1</integer>
					<key>fValue</key>
					<integer>48</integer>
				</dict>
				<dict>
					<key>nSeriesID</key>
					<integer>2</integer>
					<key>fValue</key>
					<real>146.5</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sName</key>
			<integer>2016</integer>
			<key>fBarTotalValue</key>
			<real>376.4</real>
			<key>vals</key>
			<array>
				<dict>
					<key>nSeriesID</key>
					<integer>1</integer>
					<key>fValue</key>
					<real>122.4</real>
				</dict>
				<dict>
					<key>nSeriesID</key>
					<integer>2</integer>
					<key>fValue</key>
					<integer>254</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sName</key>
			<integer>2017</integer>
			<key>fBarTotalValue</key>
			<real>281.9</real>
			<key>vals</key>
			<array>
				<dict>
					<key>nSeriesID</key>
					<integer>1</integer>
					<key>fValue</key>
					<real>34.7</real>
				</dict>
				<dict>
					<key>nSeriesID</key>
					<integer>2</integer>
					<key>fValue</key>
					<real>247.2</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>sName</key>
			<string>2018</string>
			<key>fBarTotalValue</key>
			<real>194.2</real>
			<key>vals</key>
			<array>
				<dict>
					<key>nSeriesID</key>
					<integer>1</integer>
					<key>fValue</key>
					<real>14.2</real>
				</dict>
				<dict>
					<key>nSeriesID</key>
					<integer>2</integer>
					<key>fValue</key>
					<integer>180</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
